<body>
    <div class="container">
        <div class="img_logo">
            <img src="logo_img.png" class="logo">
            <H1>RepairIT</H1>
        </div>
        <h2>Entrar</h2>
        <div class="email">
           <label for="email">Email</label>
           <input type="text" id="email" placeholder="seuemail@xxx.com">
        </div>
        <div class="password">
           <label for="password">Password</label>
           <input type="text" id="password" placeholder="*****">
           <a href="#">
             <img src="icone_olho.png" alt="lock--v1">
           </a>
        </div>
           <a href="#">
            <h1 class="esq_senha">Esqueci minha senha</h1>
           </a>
           <button class="button_login">Entrar</button>
        <div class="register">
           <h1>
            Não possui uma conta? 
           </h1>
           <a href="#"><h1 class="link">Inscreva-se</h1></a>
        </div>
    </div>
</body>