<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="cadastro.component.css">
    </head>
    <body>
        <div class="page">
        <div class="card">

            <div class="header">
            <img src="../assets/images/logo_img.png" class="logo">
            <h1>RepairIT</h1>
            </div>

            <h1>Criar sua conta</h1>

            <form class="form">

            <div class="field" style="grid-column: 1 / 12;">
                <label>Nome completo</label>
                <input type="text" placeholder="Seu Nome Completo">
            </div>

            <div class="field" style="grid-column: 13 / 20;">
                <label>CEP</label>
                <input type="text">
            </div>

            <div class="field" style="grid-column: 20 / 25;">
                <label>Bairro</label>
                <input type="text">
            </div>

            <div class="field"style="grid-column: 1 / 12;">
                <label>E-mail</label>
                <input type="email">
            </div>

            <div class="field" style="grid-column: 13 / 22;">
                <label>Cidade</label>
                <input type="text">
            </div>

            <div class="field" style="grid-column: 22 / 25;">
                <label>UF</label>
                <select></select>
            </div>

            <div class="field" style="grid-column: 1 / 12;">
                <label>Password</label>
                <input type="text">
            </div>

            <div class="field" style="grid-column: 13 / 25;">
                <label>Endereço</label>
                <input type="text">
            </div>

            <div class="field" style="grid-column: 1 / 12;">
                <label>CPF</label>
                <input type="text" placeholder="123.456.789-10">
            </div>

            <div class="field" style="grid-column: 13 / 22;">
                <label>Complemento</label>
                <input type="text">
            </div>

            <div class="field" style="grid-column: 22 / 25;">
                <label>Nùmero</label>
                <input type="text">
            </div>

            <div class="field" style="grid-column: 1 / 12;">
                <label>Telefone/Celular</label>
                <input type="text" placeholder="(DDD)91234-5678">
            </div>

            <div class="field" style="grid-column: 13 / 25;">
                <label>Data de Nascimento</label>
                <input type="date" placeholder="DD/MM/AAAA">
            </div>

            </form>

            <button class="submit">Cadastrar</button>

        </div>

        <p class="login">
            Já possui uma conta? <a href="#">Entrar</a>
        </p>

        </div>
        
        <!--<div class="container">
            <div class="img_logo">
                <img src="/assets/images/logo_img.png" class="logo">
                <H1>RepairIT</H1>
            </div>
            <h2>Entrar</h2>
            <div class="email">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="seuemail@xxx.com">
            </div>
            <div class="password">
            <label for="password">Password</label>
            <input type="password" id="password_input" required>
            <a (click)="togglePassword()" id="href_icon">
                <img src="/assets/images/icone_olho_fechado.png" alt="lock--v1" id="icon_olho">
            </a>
            </div>
            <a href="#">
                <h1 class="esq_senha">Esqueci minha senha</h1>
            </a>
            <button class="button_login">Entrar</button>
            <div class="register">
            <h1>
                Não possui uma conta? 
            </h1>
            <a href="#"><h1 class="link">Inscreva-se</h1></a>
            </div>
        </div>-->
    </body>
</html>